<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>SmartFinance AI</title>

<style>
body {
    font-family: Arial;
    background: linear-gradient(135deg, black, #00f2fe);
    color: white;
    text-align: center;
}

.container {
    padding: 20px;
}

#chatbox {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background: #1e1e2f;
    padding: 10px;
    border-radius: 10px;
}

#messages {
    height: 200px;
    overflow-y: auto;
}

.user-msg {
    text-align: right;
    color: cyan;
}

.bot-msg {
    text-align: left;
    color: lightgreen;
}
</style>
</head>

<body>

<div class="container">
<h1>💼 SmartFinance AI</h1>

{% if message %}
<p>{{ message }}</p>
{% endif %}

<form method="POST" enctype="multipart/form-data">
<input type="file" name="file">
<button type="submit">Upload</button>
</form>

{% if total %}
<h3>Total Spending: ₹{{ total }}</h3>
<h3>Top Category: {{ category }}</h3>

<h3>🧠 Insights</h3>
<p>Reduce spending in {{ category }} to save money.</p>

<img src="/static/chart.png">
<img src="/static/pie.png">
{% endif %}
</div>

<!-- CHATBOT -->
<div id="chatbox">
<div id="messages"></div>

<input id="userInput" placeholder="Ask about finance...">
<button onclick="sendMessage()">Send</button>
</div>

<script>
function sendMessage() {
    let input = document.getElementById("userInput");
    let msg = input.value;

    if(msg.trim() === "") return;

    let box = document.getElementById("messages");

    box.innerHTML += "<div class='user-msg'>You: " + msg + "</div>";

    fetch("/chat", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({message: msg})
    })
    .then(res => res.json())
    .then(data => {
        box.innerHTML += "<div class='bot-msg'>Bot: " + data.reply + "</div>";
    });

    input.value = "";
}
</script>

</body>
</html>
